{
  "plugins": ["prettier-plugin-go-template","prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true, 
        "printWidth": 600
      }
    }
  ]
}
