@media screen and (max-width: 768px) {
  #fh5co-header .navbar-brand {
  font-size: 1.2em;
  }
}

.blog #fh5co-home,
.blog #fh5co-home .text-wrap {
  height: 500px;
}

.blog #fh5co-testimonials {
  position: relative;
  margin-top: -150px;
  z-index: 10;
  background: white;
  padding-bottom: 4em;
  margin-bottom: 2em;
}

.articles {
  padding-top: 2em;
}

.articles .article {
  margin-bottom: 2em;
}

.articles img {
  display: block;
  margin-bottom: 1em;
}

.articles h3 {
  margin-bottom: .5em;
}

.blog .section-heading {
  margin:0 auto -4em;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .blog #fh5co-home .section-heading h1 {
    font-size: 2em;
  }
}

.blog #fh5co-home .section-heading h2 {
  font-size: 1.2em;
  text-transform: lowercase;
}

.blog .section-heading h2::after {
  background: rgba(255, 255, 255, 0.3);
}

.blog article {
  padding: 2em 0;
}

article h2 {
  color: #52d3aa;
}

figure {
  margin-bottom: 1em;
}

.img-responsive img,
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
