@media screen and (max-width: 768px) {
  #fh5co-header .navbar-brand {font-size: 20px;font-weight: 400;
}

#fh5co-intro {
  padding-bottom: 0;
}

#fh5co-intro .fh5co-block {
  width: 50%;
}

.fh5co-person {
  border: 2px solid #f2f2f2;
  padding: 100px 30px 30px 30px;
  float: left;
  width: 100%;
  position: relative;
}

.fh5co-person figure {
  position: absolute;
  margin-top: -80px;
  top: 0;
  left: 50%;
  margin-left: -80px;
  display: block;
  margin-bottom: 50px;
}
.fh5co-person figure img {
  width: 160px;
  border: 2px solid #f2f2f2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.articles--list,
.formations--list {
  padding-top: 2em;
}

.article--card {
  margin-bottom: 2em;
}

.article--card img {
  display: block;
  margin-bottom: 1em;
}

.article--card h3 {
  margin-bottom: 0.5em;
}

.articles .section-heading,
.formations .section-heading {
  margin: 0 auto -4em;
  padding: 0;
}

.articles .section-heading h2::after {
  background: rgba(255, 255, 255, 0.3);
}

.articles article,
.formations article {
  padding: 2em 0;
}

article h2 {
  color: #52d3aa;
}

figure {
  margin-bottom: 1em;
}

.img-responsive img,
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
