<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" .}}
  </head>
  <body class="{{ .Section }}">
    {{ partial "nav.html" .}}
<a class="navbar-brand" href="index.html"><img src="/images/logo.png" alt="logo">{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}</a>
    <section id="fh5co-home" data-section="{{ .Section }}" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
      <div class="gradient"></div>
      <div class="container">
        <div class="text-wrap">
          <div class="text-inner">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 class="to-animate fadeInUp animated">{{ with .Title }}{{ . | markdownify }}{{ end }}</h1>
                <h2 class="to-animate fadeInUp animated">{{ with .Description }}{{ . | markdownify }}{{ end }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slant"></div>
    </section>

    {{ block "main" . }}
    <div class="container">
      <div class="text-wrap">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <article>
                  {{ .Content }}
                </article>
            </div>
          </div>
      </div>
    </div>
    {{ end }}

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" .}}
    {{ end }}

    {{ partial "js.html" .}}
  </body>
</html>
