/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/lexend-v19-latin_latin-ext-300.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lexend-v19-latin_latin-ext-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/lexend-v19-latin_latin-ext-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/lexend-v19-latin_latin-ext-600.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/lexend-v19-latin_latin-ext-700.woff2') format('woff2'); 
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Inter-Light.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}


[x-cloak] {
  display: none !important;
}

.svg-sm svg {
  width: 1.375rem;
  height: 1.375rem;
}
.svg-md svg {
  width: 1.8125rem;
  height: 1.8125rem;
}
.svg-lg svg {
  width: 2rem;
  height: 2rem;
}
.svg-xl svg {
  width: 2.75rem;
  height: 2.75rem;
  @apply stroke-[1.25];
}

@layer utilities {
  .slide {
    animation: slide 15s linear infinite;
  }
  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

/* h1 strong, h2 strong, h3 strong, .text-highlight, .superheading strong {
  @apply font-bold;
  @apply text-transparent;
  @apply bg-clip-text; 
  @apply bg-gradient-to-r;
  @apply bg-primary-600; 
  @apply from-primary-600;
  @apply via-primary-500;
  @apply to-primary-400;
} */

/* .button-gradient-1 {
  @apply bg-gradient-to-r;
  @apply bg-primary-500; 
  @apply from-primary-500;
  @apply via-primary-600;
  @apply to-primary-400;
  @apply text-white;
  @apply hover:bg-indigo-700; 
  @apply hover:from-indigo-700;
  @apply hover:via-purple-700;
  @apply hover:to-pink-700;
}
.button-gradient-2 {
  @apply bg-gradient-to-r;
  @apply bg-indigo-600; 
  @apply from-[#602CFF];
  @apply via-[#3B6CFF];
  @apply to-[#32BEFF];
  @apply text-white;
}
.button-muted {
  @apply border;
  @apply border-primary-50;
  @apply bg-primary-50; 
  @apply dark:bg-primary-800;
  @apply dark:border-primary-800;
  @apply text-primary-500; 
  @apply dark:text-white; 
  @apply hover:text-white; 
  @apply hover:bg-primary-500; 
  @apply hover:border-primary-500;
}
.button-primary {
  @apply text-white; 
  @apply bg-primary-500; 
  @apply hover:bg-primary-600; 
}
.button-secondary {
  @apply border; 
  @apply text-white; 
  @apply bg-primary-900; 
  @apply hover:bg-transparent; 
  @apply border-primary-900; 
  @apply hover:text-primary-900; 
  @apply dark:text-primary-900; 
  @apply dark:bg-white; 
  @apply dark:hover:bg-transparent; 
  @apply dark:border-white; 
  @apply dark:hover:text-white;
}

.button-red {
  @apply text-white; 
  @apply bg-primary-400; 
  @apply hover:opacity-90; 
  @apply shadow-md;
  @apply hover:shadow;
  @apply transition;
}


.button-outline {
  @apply border; 
  @apply border-primary-950; 
  @apply hover:bg-primary-950; 
  @apply hover:text-white; 
  @apply dark:border-white; 
  @apply dark:text-white; 
  @apply dark:hover:bg-white; 
  @apply dark:hover:text-primary-950;
}
 */




/* .hover-extension {
position: absolute;
height: 20px; 
top: 100%;
left: 0;
right: 0;
z-index: 1;
content: '';
} */


.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee span {
  display: inline-block;
  margin-right: 20px; /* Adjust as needed for spacing */
  animation: marquee 60s linear infinite; /* Adjusted duration */
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}


html {
  scroll-behavior: smooth;
}

#references, #coach {
  scroll-margin-top: 3rem;
}


.cookie-popup {
  display: none;
}