<section class="bg-white py-12 sm:py-16 lg:py-20">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto flex flex-col gap-4">
      <div class="flex flex-col items-center justify-center">
        <img class="mx-auto h-32 w-32 rounded-full object-cover lg:h-44 lg:w-44" src="/images/tristan2.jpg" alt="" />
        <p class="font-pj mt-5 text-lg font-bold text-gray-900 sm:mt-8 sm:text-xl">Tristan de Fommervault</p>
        <p class="font-pj mt-2 text-base font-normal text-gray-600">Coach et formateur certifié</p>
        <p class="font-pj my-8 max-w-md text-center text-base leading-relaxed text-gray-500">Un parcours en 3 temps : Comédien, RH, Coach Formateur. J’accompagne les personnes et les collectifs en situation de transformation. Une citation qui m’inspire : Veille à tes pensées, elles deviennent des mots. Veille à tes mots, ils deviennent des actions. Veille à tes actions, elles deviennent des habitudes. Veille à tes habitudes, elles deviennent ton caractère. Veille à ton caractère, il devient ton destin. Lao Tseu</p>
      </div>

      <div class="flex justify-center space-x-6">
        {{ range .Site.Params.social }}
          <a href="{{ .link }}" class="flex h-10 w-10 items-center justify-center rounded-full bg-primary-500 text-white transition duration-300 hover:scale-110" rel="noopener noreferrer" target="_blank">
            <span class="sr-only">{{ .name }}</span>
            <i class="{{ .icon }} text-xl"></i>
          </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
