	<section id="fh5co-work" data-section="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.articles.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.articles.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-bottom-padded-sm">
			{{ range first 6 (where .Pages "Section" "articles") }}
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a class="fh5co-project-item" href="{{ .Permalink }}">
					{{ with .Params.images }}
						<img src="{{ index . 0 | absURL }}" alt="" class="img-responsive">
					{{ end }}
						<div class="fh5co-text">
							<h2>{{ .Title }}</h2>
							<span>Lire la suite</span>
						</div>
					</a>
				</div>

			<div class="clearfix visible-sm-block"></div>
			{{ end }}

			</div>
		</div>
	</section>
