{{ with .Params.contact }}
  <section id="contact" class="bg-zinc-50 py-16">
    <div class="mx-auto max-w-5xl px-6 lg:px-8">
      {{ with .heading }}
        <h2 class="m-0 mb-6 text-center text-3xl font-semibold text-gray-600">
          {{ . }}
        </h2>
      {{ end }}
      {{ with .subheading }}
        <h3 class="m-0 mb-12 text-center text-xl font-light text-gray-500">
          {{ . }}
        </h3>
      {{ end }}


      <div class="mx-auto mt-12 grid max-w-7xl grid-cols-1 gap-8 sm:mt-16 lg:grid-cols-5">
        <div class="grid grid-cols-1 gap-6 px-8 text-center lg:col-span-2 lg:px-0">
          <a href="tel:{{ .phone_link | safeURL }}" class="group overflow-hidden rounded-xl bg-white transition duration-300 hover:bg-zinc-100" rel="noopener noreferrer" target="_blank">
            <div class="p-6 pt-12">
              <i class="fa-solid fa-mobile-screen-button text-5xl text-primary-500 group-hover:text-primary-600"></i>
              <div class="mt-6 flex flex-col items-center justify-start">
                <p class="text-lg font-normal text-gray-600">{{ .phone | safeHTML }}</p>
              </div>
            </div>
          </a>
          <a href="mailto:{{ .email | safeURL }}" class="group overflow-hidden rounded-xl bg-white transition duration-300 hover:bg-zinc-100" rel="noopener noreferrer" target="_blank">
            <div class="p-6 pt-12">
              <i class="fa-solid fa-envelope text-5xl text-primary-500 group-hover:text-primary-600"></i>
              <div class="mt-6 flex flex-col items-center justify-start">
                <p class="text-lg font-normal text-gray-600">{{ .email | safeHTML }}</p>
              </div>
            </div>
          </a>
          <a href="{{ .address_link }}" class="group overflow-hidden rounded-xl bg-white transition duration-300 hover:bg-zinc-100" rel="noopener noreferrer" target="_blank">
            <div class="p-6 pt-12">
              <i class="fa-solid fa-location-dot text-5xl text-primary-500 group-hover:text-primary-600"></i>
              <div class="mt-6 flex flex-col items-center justify-start">
                <p class="text-lg font-normal text-gray-600">{{ .address | safeHTML }}</p>
              </div>
            </div>
          </a>
        </div>

        <div class="mt-6 overflow-hidden rounded-xl bg-white lg:col-span-3 lg:mt-0">
          <div class="px-6 py-12 sm:p-12">
            <form action="https://formspree.io/f/tdefommervault@qualia-management.com" method="POST">
              <div class="flex flex-col gap-6">
                <!-- <div>
              <label for="" class="text-base font-medium text-gray-900"> Name </label>
              <div class="relative mt-2.5">
                <input type="text" name="name" id="name" placeholder="Name" class="block w-full rounded-md border-0 px-4 py-4 text-black placeholder-gray-500 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-primary-500" />
              </div>
            </div>

            <div>
              <label for="" class="text-base font-medium text-gray-900"> Phone </label>
              <div class="relative mt-2.5">
                <input type="tel" name="phone" id="phone" placeholder="Phone" class="block w-full rounded-md border-0 px-4 py-4 text-black placeholder-gray-500 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-primary-500" />
              </div>
            </div> -->

                <div>
                  <!-- <label for="" class="text-base font-medium text-gray-900"> Votre situation en quelques mots </label> -->
                  <div class="relative mt-2.5">
                    <textarea name="message" id="message" placeholder="Votre situation en quelques mots" class="block w-full resize-y rounded-md border-0 px-4 py-4 text-black placeholder-gray-500 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-primary-500" rows="4"></textarea>
                  </div>
                </div>

                <div>
                  <!-- <label for="" class="text-base font-medium text-gray-900"> Quelles lignes voulez-vous faire bouger ? </label> -->
                  <div class="relative mt-2.5">
                    <textarea name="message" id="message" placeholder="Quelles lignes voulez-vous faire bouger ?" class="block w-full resize-y rounded-md border-0 px-4 py-4 text-black placeholder-gray-500 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-primary-500" rows="4"></textarea>
                  </div>
                </div>

                <div>
                  <!-- <label for="" class="text-base font-medium text-gray-900"> Qu'attendez-vous de nous ? </label> -->
                  <div class="relative mt-2.5">
                    <textarea name="message" id="message" placeholder="Qu'attendez-vous de nous ?" class="block w-full resize-y rounded-md border-0 px-4 py-4 text-black placeholder-gray-500 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-primary-500" rows="4"></textarea>
                  </div>
                </div>

                <div>
                  <!-- <label for="" class="text-base font-medium text-gray-900"> Votre email </label> -->
                  <div class="relative mt-2.5">
                    <input type="email" name="email" id="email" placeholder="Votre email" class="block w-full rounded-md border-0 px-4 py-4 text-black placeholder-gray-500 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-primary-500" />
                  </div>
                </div>

                <div class="flex items-center justify-center sm:col-span-2">
                  <button type="submit" class="mt-2 flex items-center justify-center rounded-md border border-transparent bg-primary-500 px-6 py-3 text-base font-semibold uppercase text-white transition-all duration-200 hover:bg-primary-600 focus:bg-primary-600 focus:outline-none">Envoyer</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
