<div class="px-6 lg:px-8 dark:bg-primary-950">
  <div class="mx-auto pt-16 lg:max-w-3xl lg:pt-24">
    <div class="mx-auto max-w-3xl space-y-4 text-center lg:space-y-5">
      {{ with .Params }}
        {{ partial "components/superheading.html" . }}
      {{ end }}
      <h1 class="text-center text-5xl font-bold tracking-tight text-primary-950 sm:text-6xl lg:text-7xl dark:text-white">{{ if .Params.heading }}{{ .Params.heading | markdownify }}{{ else }}{{ .Title | markdownify }}{{ end }}</h1>
      {{ with .Params }}
        {{ partial "components/subheading.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="mx-auto max-w-md pb-16 md:max-w-7xl lg:pb-24">
    {{ $paginator := .Paginator }}
    {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
    <div class="mt-10 grid grid-cols-1 gap-8 md:grid-cols-3 lg:mt-14 lg:gap-10">
      {{ range $paginator.Pages }}
        {{ partial "card-post.html" . }}
      {{ end }}
    </div>
    <div class="mt-14">
      {{ partial "pagination.html" . }}
    </div>
  </div>
</div>
