<section class="bg-gray-50 py-12 sm:py-16 lg:py-20 xl:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-5xl text-left">
      <h2 class="text-center text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl lg:text-4xl">Articles Liés</h2>
    </div>

    {{ $related := (where (.Site.RegularPages.Related .) "Type" "articles") | first 6 }}

    {{ with  $related }}
      <div class="mx-auto mt-12 grid max-w-md grid-cols-1 gap-16 sm:mt-16 md:max-w-5xl md:grid-cols-3 xl:gap-16">
        {{ range . }}
          <div class="group">
            <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="block overflow-hidden rounded-xl">
              {{ $title := .Title }}
              {{ with .Params.image }}
                <img class="h-full w-full transform object-cover transition-all duration-200 group-hover:scale-110" src="{{ site.Params.cloudinary_base_url }}f_auto/q_auto/w_345/f_webp/{{ strings.TrimPrefix site.Params.cloudinary_base_url . }}" alt="{{ $title }}" width="345" loading="lazy" />
              {{ end }}
            </a>
            <h3 class="mt-6 text-lg font-semibold text-gray-900 group-hover:text-gray-600 xl:text-xl">
              <a href="{{ .RelPermalink }}" title="" class=""> {{ .Title }} </a>
            </h3>
            <p class="mt-3 text-sm font-medium text-gray-500">{{ .Date | time.Format ":date_long" }} <span class=""> </span></p>
          </div>
        {{ end }}

      </div>
    {{ end }}
  </div>
</section>
