{{- with $.Resources.GetMatch $.Params.image -}}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ .Permalink }}" />
{{- else -}}
  {{- with $.Site.Params.image -}}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ . | absURL }}" />
  {{- else -}}
    <meta name="twitter:card" content="summary" />
  {{- end -}}
{{- end }}


<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description | default $.Site.Params.Description }}" />

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}" />
    {{- end }}
  {{- end }}
{{- end }}
