{{ define "main"}}
<section class="overflow-hidden dark:bg-primary-950">
  <div class="px-6 lg:px-8 py-20 lg:py-32">
    <div class="max-w-3xl mx-auto px-6 lg:px-8">
      <h1 class="text-center text-4xl sm:text-5xl font-bold tracking-tight text-primary-950 dark:text-white">404 Page Non Trouvée</h1>
    <div class="mt-16 text-center">
      <a href="{{ "/" | relLangURL }}"
        class="inline-block tracking-wide transition rounded-full focus:outline-none font-medium px-6 py-2 border border-primary-950 hover:bg-primary-950 hover:text-white dark:border-white dark:text-white dark:hover:bg-white dark:hover:text-primary-950">
        Accueil
      </a>
    </div>
  </div>
</section>
{{ end }}