<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" .}}
  </head>
  <body class="{{ .Section }}">
    {{ partial "nav.html" .}}

    <section id="fh5co-home" data-section="{{ .Section }}" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
  		<div class="gradient"></div>
  		<div class="container">
  			<div class="text-wrap">
  				<div class="text-inner">
  					<div class="row">
  						<div class="col-md-12 text-center">
  							<h1 class="to-animate fadeInUp animated">{{ with .Title }}{{ . | markdownify }}{{ end }}</h1>
                <h2 class="to-animate fadeInUp animated">{{ .Description }}</h2>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="slant"></div>
  	</section>

    <div class="container">
      <div class="text-wrap">
          <div class="row">
            <div class="col-md-8">
                <article>
                  {{ .Content }}
                </article>
            </div>
            <div class="col-md-4">
              <h3>Prix (formation {{ .Params.trainingType | lower }}-entreprise)</h3>
              <p>{{ .Params.price }} EUR</p>
              <h3>Durée</h3>
              <p>({{ .Params.duration }} jours)</p>
              <h3>Public cible</h3>
              <p>{{ .Params.targetAudience }}</p>
              <h3>Contact</h3>
              <p>Vous souhaitez en savoir plus sur cette formation ?</p>
              <p>
                <a class="btn btn-default" href="mailto:{{ .Params.contact }}" role="button">Contactez-nous</a>.</p>
              </p>
            </div>
          </div>
      </div>
    </div>

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" .}}
    {{ end }}

    {{ partial "js.html" .}}
  </body>
</html>
