{{ define "main" }}
  <section class="bg-white py-12 sm:py-16 lg:py-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-5xl text-center">
        <!-- <nav class="flex items-center justify-center">
          <ol class="flex flex-wrap items-center justify-center space-x-2">
            <li>
              <a href="/articles" title="" class="hover:text-secondary text-xs font-medium uppercase text-gray-900 lg:text-sm"> Articles </a>
            </li>
          </ol>
        </nav> -->

        <h1 class="mx-auto mt-6 max-w-2xl text-4xl font-bold text-gray-900 sm:text-5xl">{{ .Title }}</h1>

        <div class="mt-8 flex items-center justify-center space-x-2">
          <p class="text-xl font-normal text-gray-500">{{ .Date | time.Format ":date_long" }} <span class=""> </span></p>
        </div>
      </div>
      <div class="lg:aspect-h-6 mt-8 aspect-video sm:mt-12 lg:mt-16">
        {{ $title := .Title }}
        {{ with .Params.image }}
          {{ $url := . }}
          {{ $cloudinary_base_url := site.Params.cloudinary_base_url }}
          {{ $relative := strings.TrimPrefix $cloudinary_base_url $url }}
          <img sizes="100vw" srcset="{{ $cloudinary_base_url }}f_auto/q_auto/w_256/f_webp/{{ $relative }} 256w, {{ $cloudinary_base_url }}f_auto/q_auto/w_512/f_webp/{{ $relative }} 512w, {{ $cloudinary_base_url }}f_auto/q_auto/w_768/f_webp/{{ $relative }} 768w, {{ $cloudinary_base_url }}f_auto/q_auto/w_1024/f_webp/{{ $relative }} 1024w, {{ $cloudinary_base_url }}f_auto/q_auto/w_1280/f_webp/{{ $relative }} 1280w" src="{{ $cloudinary_base_url }}f_auto/q_auto/w_512/f_webp/{{ $relative }}" loading="eager" alt="$title" class="h-full w-full transform object-cover" />
        {{ end }}
      </div>
      {{ with .Params.tags }}
        <div class="mt-8 flex flex-wrap items-center justify-center gap-x-8 gap-y-4">
          {{ range . }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="{{ . }}" class="rounded-md bg-primary-500 px-3 py-1.5 text-sm font-medium text-white hover:bg-primary-600">
              {{ . | humanize | title }}
            </a>
          {{ end }}
        </div>
      {{ end }}
      <div class="mt-8 grid grid-cols-1 gap-y-8 sm:mt-12 lg:mt-16 lg:grid-cols-12 lg:gap-x-12">
        <div class="hidden lg:col-span-2 lg:block"></div>

        <div class="prose prose-gray max-w-none prose-blockquote:border-l-2 prose-blockquote:border-gray-900 prose-blockquote:bg-gray-100 prose-blockquote:px-8 prose-blockquote:py-3 prose-blockquote:text-lg prose-blockquote:font-medium prose-blockquote:not-italic prose-blockquote:leading-8 prose-blockquote:text-gray-900 lg:col-span-8 prose-blockquote:lg:text-xl prose-blockquote:lg:leading-9">
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
